table {
    font-family: Google;
    border: 0px solid #31304d;
    color: var(--clrGrey5);
}

td {
    display: grid;
    border: 0px solid #31304d;
    text-align: start;
}

tr {
    display: grid;
    grid-template-columns: 60px 90px 1fr 90px ;
    white-space: nowrap;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    border-block: 1px solid var(--clrMail3);
    border-collapse: collapse;
    padding-block: 0.25em;
    gap: 7em ;
    
}

p {
    margin-inline-start: 0em;
    margin-block: 0.5em;
}


.fromName {
    text-transform: capitalize;
    width: 10vw;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subject {
    text-transform: capitalize;
    width: 15vw;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.body {
    text-transform: capitalize;
    width: 50vw;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span {
    display: grid;
}

.buttons {
    display: flex;
    margin-block-end: 10px;
}
