.notes-inner-txt{
    padding: 0.5em 0;
}

.note-inner-content{
    display: grid;
    padding: 1em 0 ;
    width: 100%;

}

.pin-btn{
    margin-left: auto;
}

.content-editable-placeholder {
    overflow-wrap: anywhere;
    word-break: normal;
    outline: none;
    
}