.todo-li-row {
    display: grid;
    justify-content: space-between;
    width: 100%;
}

.to-do-txt{   
    margin-left: 10px;
    flex: 0.8;
}


.icon-remove-todo {
    width: 1em;  
}

.to-do-input{
    font-size: 1.2em;
    padding: .7em;
    margin-left: 1em;
}

.todo-inpt-section{
    position: relative;
    margin-left: 1.5em;
}


.icon-plus {
    width: 1.2em;
    position: absolute;
}

.todo-list-btn{
    margin-right: 0.5em;
}

.to-do-label{
    justify-content: start;
}

