table {
    display: grid;
    font-family: Google;
    border: 0px solid #31304d;
    color: var(--clrGrey5);
    cursor: pointer;
}

tr:hover {
    border: 1px solid var(--clrGrey1);
    box-shadow: 5px;
}

td {
    display: grid;
    border: 0px solid #31304d;
    text-align: start;
}

tr {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    white-space: nowrap;
    grid-auto-flow: column;
    align-items: center;
    border-block: 1px solid var(--clrMail3);
    border-collapse: collapse;
    padding-block: 0.5em;
}

p {
    margin-inline-start: 0em;
    margin-block: 0.5em;
}

.fromName {
    font-weight: bold;
    text-transform: capitalize;
    width: 15vw;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}

.subject {
    font-weight: bold;
    width: 15vw;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-inline-start: 1vw;
}

.body {
    width: 50vw;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span {
    display: grid;
}

.buttons {
    display: flex;
    margin-block-end: 10px;
}

.read td {
    font-weight: normal;
}

.read {
    background-color: var(--clrGrey7);
}

.read .body {
    color: var(--clrGrey3);
}

.date {
    font-size: 0.85em;
    padding-inline-start: 3vw;
}
