/*BUTTONS HELPERS*/

.clean-btn {
    outline: none;
    border: none;
    background: none;
    font-family: unset;
}

.btn {
    cursor: pointer;
}


.btn:hover {
    filter: brightness(75%);
}

.content-editable-placeholder:empty::before {
    content: attr(data-placeholder);

        color: gray;
}


/* FLEX HELPERS */

.flex {
    display: flex;
  }
  
  .flex.justify-center {
    justify-content: center;
  }
  
  .flex.align-center {
    align-items: center;
  }
  
  .flex.space-between {
    justify-content: space-between;
  }
  
  .flex.flex-column {
    flex-direction: column;
  }
  
  .clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  /* GRID HELPERS */
  
  .grid {
    display: grid;
  }
  
  .relative {
    position: relative;
  }
  


  /* IMAGE HELPERS */
  
 
  .witdh100{
    width: 100%;
  }

  .note-size{
    width:100px
  }