.main-layout {
    display: grid;
    grid-template-columns: 70px 1fr 10px;
    grid-auto-flow: column;
}

.main-layout > *:not(.full) {
}

.main-layout > *.full {
    grid-column: 1 / -1;
}

/* max-width: 100%;
  padding-bottom: 2rem; */
/* padding: 2rem; */
/* border: 1px solid #e9ecef; */
